<div class="overflow-hidden">
  <div class="container">
    <div class="flex flex-col gap-6">
      <div class="relative">
        <div
          class="relative flex flex-col items-center gap-2 overflow-hidden rounded-xl border border-light-blue bg-greeting-section-background-pattern p-4 !pb-0 md:gap-4 md:p-6 lg:p-10 xl:p-14"
        >
          <h1
            class="select-none text-center font-decorative text-3xl text-primary sm:text-4xl md:text-5xl xl:text-6xl"
          >
            Portal to <span class="text-accent">Rick and Morty</span> multivers
          </h1>
          <img
            ngSrc="assets/home-greeting-section-car.png"
            width="617"
            height="312"
            class="w-full max-w-[350px] sm:max-w-[420px] md:max-w-[500px] lg:max-w-[550px] xl:max-w-[617px]"
            alt="rick-car"
          />
          <img
            ngSrc="assets/home-greeting-section-planet-green.png"
            width="207"
            height="207"
            class="absolute -left-20 bottom-20 hidden lg:block xl:bottom-28"
            alt="planet-green"
          />
          <img
            ngSrc="assets/home-greeting-section-planet-pink.png"
            width="183"
            height="183"
            class="absolute right-0 top-0 hidden -translate-y-1/2 translate-x-1/2 scale-75 lg:block xl:scale-100"
            alt="planet-pink"
          />
        </div>
        <img
          ngSrc="assets/home-greeting-section-palent-blue.png"
          width="332"
          height="333"
          class="absolute -bottom-28 -right-24 hidden scale-[60%] lg:block xl:-bottom-24 xl:-right-16 xl:scale-100"
          alt="planet-blue"
        />
      </div>
      <div></div>
    </div>
  </div>
</div>
