<div
  class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-11 lg:*:col-span-2"
>
  <input
    type="text"
    class="rounded-lg border border-blue bg-dark-blue px-4 py-1.5 font-primary text-accent outline-0 transition-colors placeholder:font-light placeholder:text-blue focus:border-accent"
    placeholder="Name"
    [(ngModel)]="filter.name"
    (input)="handleFilterChange()"
  />
  <input
    type="text"
    class="rounded-lg border border-blue bg-dark-blue px-4 py-1.5 font-primary text-accent outline-0 transition-colors placeholder:font-light placeholder:text-blue focus:border-accent"
    placeholder="Type"
    [(ngModel)]="filter.type"
    (input)="handleFilterChange()"
  />
  <input
    type="text"
    class="rounded-lg border border-blue bg-dark-blue px-4 py-1.5 font-primary text-accent outline-0 transition-colors placeholder:font-light placeholder:text-blue focus:border-accent"
    placeholder="Species"
    [(ngModel)]="filter.species"
    (input)="handleFilterChange()"
  />
  <ng-select
    class="custom-select"
    placeholder="Status"
    [searchable]="false"
    [items]="characterStatuses"
    [(ngModel)]="filter.status"
    (change)="handleFilterChange()"
  ></ng-select>
  <ng-select
    class="custom-select"
    placeholder="Gender"
    [searchable]="false"
    [items]="characterGenders"
    [(ngModel)]="filter.gender"
    (change)="handleFilterChange()"
  ></ng-select>
  <button
    type="button"
    class="rounded-lg border border-accent bg-dark-blue font-primary font-medium text-accent transition-colors hover:bg-accent hover:text-dark-blue lg:!col-span-1"
    (click)="clearFilter()"
  >
    Clear
  </button>
</div>
