<div class="mb-3 flex gap-3">
  <label>
    Name
    <input
      type="text"
      class="border"
      [disabled]="isDisabled"
      [(ngModel)]="filter.name"
      (input)="handleFilterChangeWithDebounce('name', filter.name)"
    />
  </label>
  <label>
    Type
    <input
      type="text"
      class="border"
      [disabled]="isDisabled"
      [(ngModel)]="filter.type"
      (input)="handleFilterChangeWithDebounce('type', filter.type)"
    />
  </label>
  <label>
    Species
    <input
      type="text"
      class="border"
      [disabled]="isDisabled"
      [(ngModel)]="filter.species"
      (input)="handleFilterChangeWithDebounce('species', filter.species)"
    />
  </label>
  <label>
    Status
    <select
      class="border"
      [disabled]="isDisabled"
      [(ngModel)]="filter.status"
      (change)="handleFilterChange('status', filter.status)"
    >
      <option></option>
      @for (status of characterStatuses(); track status) {
        <option>{{ status }}</option>
      }
    </select>
  </label>
  <label>
    Gender
    <select
      class="border"
      [disabled]="isDisabled"
      [(ngModel)]="filter.gender"
      (change)="handleFilterChange('gender', filter.gender)"
    >
      <option></option>
      @for (gender of characterGenders(); track gender) {
        <option>{{ gender }}</option>
      }
    </select>
  </label>
  <button type="button" (click)="clearFilter()">Clear</button>
</div>
