<div class="flex items-center gap-2 sm:gap-4">
  <pagination-button
    [isControlButton]="true"
    [disabled]="page() === 1 || isDisabled()"
    (click)="goToPage(1)"
  >
    <fa-icon [icon]="firstPageIcon"></fa-icon>
  </pagination-button>
  <pagination-button
    [isControlButton]="true"
    [disabled]="page() === 1 || isDisabled()"
    (click)="goToPage(page() - 1)"
  >
    <fa-icon [icon]="prevPageIcon"></fa-icon>
  </pagination-button>

  <div class="font-primary text-blue sm:hidden">
    Page {{ page() }} / {{ pagesCount() }}
  </div>

  <div class="hidden gap-2 sm:flex">
    @if (page() === pagesCount() && page() - 4 > 0) {
      <pagination-button
        [disabled]="isDisabled()"
        (click)="goToPage(page() - 4)"
      >
        {{ page() - 4 }}
      </pagination-button>
    }
    @if (pagesCount() - page() < 2 && page() - 3 > 0) {
      <pagination-button
        [disabled]="isDisabled()"
        (click)="goToPage(page() - 3)"
      >
        {{ page() - 3 }}
      </pagination-button>
    }
    @if (page() - 2 > 0) {
      <pagination-button
        [disabled]="isDisabled()"
        (click)="goToPage(page() - 2)"
      >
        {{ page() - 2 }}
      </pagination-button>
    }
    @if (page() - 1 > 0) {
      <pagination-button
        [disabled]="isDisabled()"
        (click)="goToPage(page() - 1)"
      >
        {{ page() - 1 }}
      </pagination-button>
    }

    <pagination-button [active]="true" [disabled]="isDisabled()">
      {{ page() }}
    </pagination-button>

    @if (page() + 1 <= pagesCount() && page() + 1 <= pagesCount()) {
      <pagination-button
        [disabled]="isDisabled()"
        (click)="goToPage(page() + 1)"
      >
        {{ page() + 1 }}
      </pagination-button>
    }
    @if (page() + 2 <= pagesCount() && page() + 2 <= pagesCount()) {
      <pagination-button
        [disabled]="isDisabled()"
        (click)="goToPage(page() + 2)"
      >
        {{ page() + 2 }}
      </pagination-button>
    }
    @if (page() < 3 && page() + 3 <= pagesCount()) {
      <pagination-button
        [disabled]="isDisabled()"
        (click)="goToPage(page() + 3)"
      >
        {{ page() + 3 }}
      </pagination-button>
    }
    @if (page() === 1 && page() + 4 <= pagesCount()) {
      <pagination-button
        [disabled]="isDisabled()"
        (click)="goToPage(page() + 4)"
      >
        {{ page() + 4 }}
      </pagination-button>
    }
  </div>

  <pagination-button
    [isControlButton]="true"
    [disabled]="page() === pagesCount() || isDisabled()"
    (click)="goToPage(page() + 1)"
  >
    <fa-icon [icon]="nextPageIcon"></fa-icon>
  </pagination-button>
  <pagination-button
    [isControlButton]="true"
    [disabled]="page() === pagesCount() || isDisabled()"
    (click)="goToPage(pagesCount())"
  >
    <fa-icon [icon]="lastPageIcon"></fa-icon>
  </pagination-button>
</div>
