<div class="py-4 lg:py-6">
  <div class="container">
    <div class="flex flex-col items-center gap-6 sm:flex-row sm:justify-center">
      <div
        class="flex flex-col items-start gap-4 font-primary text-primary sm:gap-6"
      >
        <h1 class="text-7xl md:text-8xl">Oops...</h1>
        <h2 class="text-3xl md:text-4xl">Page not found</h2>
        <button
          type="button"
          class="rounded-3xl border border-accent px-4 py-1.5 text-accent transition-colors hover:bg-accent hover:text-dark-blue lg:px-6 lg:py-2 lg:text-lg"
          (click)="goBack()"
        >
          <fa-icon [icon]="goBackIcon"></fa-icon>
          Go Back
        </button>
      </div>
      <img
        ngSrc="assets/pickle-rick.svg"
        width="260"
        height="368"
        class="max-w-[200px] md:max-w-full"
        alt="pickle-rick"
      />
    </div>
  </div>
</div>
