<header
  class="flex h-header-height items-center bg-app-background bg-app-background-pattern bg-repeat font-primary text-primary"
>
  <div class="container">
    <div class="flex items-center justify-between">
      <a [routerLink]="[APP_ROUTES.HOME]">
        <img
          ngSrc="assets/logo.svg"
          priority
          width="164"
          height="50"
          alt="Rick And Morty Logo"
        />
      </a>
      <ul class="hidden gap-16 lg:flex">
        @for (link of headerLinks; track link) {
          <li>
            <a
              class="relative capitalize before:absolute before:bottom-0 before:h-0.5 before:w-0 before:rounded-xl before:bg-accent before:transition-[width] before:content-[''] before:hover:w-full"
              [routerLink]="[link]"
              [routerLinkActive]="'before:!w-full'"
            >
              {{ link }}
            </a>
          </li>
        }
      </ul>
      <a
        [href]="githubLink"
        target="_blank"
        class="relative hidden before:absolute before:bottom-0 before:h-0.5 before:w-0 before:rounded-xl before:bg-accent before:transition-[width] before:content-[''] before:hover:w-full lg:inline"
      >
        <span class="flex gap-1">
          <fa-icon [icon]="githubIcon"></fa-icon> NKisiura
        </span>
      </a>
      <button type="button" class="lg:hidden">
        <fa-icon [icon]="barsIcon" size="2xl"></fa-icon>
      </button>
    </div>
  </div>
</header>
