<header class="header flex items-center">
  <a [routerLink]="[APP_ROUTES.HOME]">
    <img
      ngSrc="assets/logo.svg"
      priority
      width="100"
      height="30"
      alt="Rick And Morty Logo"
    />
  </a>
  <ul class="flex">
    @for (link of headerLinks; track link) {
      <li>
        <a
          class="capitalize"
          [routerLink]="[link]"
          [routerLinkActive]="'font-bold'"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
        >
          {{ link }}
        </a>
      </li>
    }
  </ul>
</header>
