<div class="py-4 lg:py-6">
  <div class="container">
    <div class="flex flex-col gap-8 lg:gap-16">
      <div class="flex flex-col gap-4 lg:gap-6">
        @if (episodeLoading()) {
          <loader></loader>
        }

        @if (episode(); as episode) {
          <div
            class="flex flex-col items-start gap-2 rounded-xl bg-light-blue/10 p-4 font-primary text-primary lg:gap-4 lg:p-6"
          >
            <div
              class="rounded-lg bg-accent px-2 py-0.5 text-sm text-dark-blue lg:px-3 lg:text-base"
            >
              {{ episode.episode }}
            </div>
            <h1 class="text-3xl font-bold sm:text-4xl lg:text-5xl xl:text-6xl">
              {{ episode.name }}
            </h1>
            <div>
              <div class="font-light text-blue lg:text-lg">Air Date:</div>
              <div class="text-lg lg:text-xl">
                {{ episode.airDate | date: dateFormat }}
              </div>
            </div>
          </div>
        }

        @if (episodeError() && !episodeLoading()) {
          <error-message [errorMessage]="episodeError()!.error"></error-message>
        }
      </div>
      <div class="flex flex-col gap-4 lg:gap-6">
        @if (episodeCharactersLoading()) {
          <loader></loader>
        }

        @if (episodeCharacters(); as characters) {
          <div class="flex flex-col gap-4 lg:gap-6">
            <h2
              class="text-center font-decorative text-3xl text-primary sm:text-4xl lg:text-5xl"
            >
              Characters in this episode
            </h2>
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-6">
              @for (character of characters; track character.id) {
                <character-card [character]="character"></character-card>
              }
            </div>
          </div>
        }

        @if (episodeCharactersError() && !episodeCharactersLoading()) {
          <error-message
            [errorMessage]="episodeCharactersError()!.error"
          ></error-message>
        }
      </div>
    </div>
  </div>
</div>
