<div
  class="flex h-full flex-col items-center overflow-hidden rounded-xl bg-blue/10 font-primary text-primary"
>
  <div class="w-full bg-blue/65 px-4 py-3 text-center">
    {{ episode().episode }}
  </div>
  <div class="flex justify-center px-4 py-3">
    <a
      [routerLink]="[APP_ROUTES.EPISODES, episode().id]"
      [relativeTo]="null"
      class="text-center text-lg underline decoration-blue underline-offset-4 transition-colors hover:text-accent"
    >
      {{ episode().name }}
    </a>
  </div>
</div>
