<div class="pb-4 lg:pb-6">
  <div
    class="sticky top-header-height bg-app-background bg-app-background-pattern pb-4 pt-2 lg:pb-6"
  >
    <div class="container">
      <div class="rounded-xl bg-light-blue/10 p-4">
        <episodes-filter
          [initialFilter]="initialFilter()"
          (filterChange)="handleFilterChange($event)"
        ></episodes-filter>
      </div>
    </div>
  </div>

  <div class="container">
    @if (hasLoadedEpisodes()) {
      <div class="flex flex-col gap-4 lg:gap-6">
        <div
          class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-6 2xl:grid-cols-4"
        >
          @for (episode of episodes(); track episode.id) {
            <episode-card [episode]="episode"></episode-card>
          }
        </div>

        <div class="flex flex-col items-center gap-4 lg:gap-6">
          @if (!isLastPage()) {
            <load-more-button
              [isLoading]="episodesLoading()"
              (click)="handleShowMore()"
            ></load-more-button>
          }

          <pagination
            [page]="currentPage()"
            [pagesCount]="pagesCount()"
            [isDisabled]="episodesLoading()"
            (pageChange)="handlePageChange($event)"
          ></pagination>
        </div>
      </div>
    } @else {
      @if (episodesLoading()) {
        <loader></loader>
      }

      @if (error() && !episodesLoading()) {
        <error-message [errorMessage]="error()!.error"></error-message>
      }
    }
  </div>
</div>
