@if (character(); as character) {
  <div
    class="flex flex-col overflow-hidden rounded-xl bg-light-blue/10 sm:flex-row"
  >
    <img
      [ngSrc]="character.image"
      width="300"
      height="300"
      alt="character image"
      class="max-h-[300px] w-full object-cover object-center sm:max-w-[200px]"
    />
    <div class="flex flex-grow flex-col gap-4 p-4 font-primary text-primary">
      <div class="flex flex-col items-start gap-1">
        <a
          [routerLink]="[APP_ROUTES.CHARACTERS, character.id]"
          [relativeTo]="null"
          class="text-2xl font-bold underline decoration-blue decoration-1 underline-offset-4 transition-colors hover:text-accent"
        >
          {{ character.name }}
        </a>
        <div class="flex items-center gap-2">
          <span
            class="h-2.5 w-2.5 rounded-full"
            [ngClass]="{
              'bg-status-alive': character.status === characterStatus.ALIVE,
              'bg-status-dead': character.status === characterStatus.DEAD,
              'bg-status-unknown': character.status === characterStatus.UNKNOWN
            }"
          ></span>
          <span class="capitalize">
            {{ character.status }} - {{ character.species }}
          </span>
        </div>
      </div>
      @if (character.location.id) {
        <div class="flex flex-col items-start">
          <div class="font-light text-blue">Last known location:</div>
          <a
            [routerLink]="[APP_ROUTES.LOCATIONS, character.location.id]"
            [relativeTo]="null"
            class="font-medium underline decoration-blue decoration-1 underline-offset-4 transition-colors hover:text-accent"
          >
            {{ character.location.name }}
          </a>
        </div>
      }
    </div>
  </div>
}
