@tailwind base;
@tailwind components;
@tailwind utilities;

$app-bg-color: #000910;

html {
  background-color: $app-bg-color;
  background-image: url("assets/app-background.png");
  background-repeat: repeat;
}
