<div class="py-4 lg:py-6">
  <div class="container">
    <div class="flex flex-col gap-8 lg:gap-16">
      <div class="flex flex-col gap-4 lg:gap-6">
        @if (characterLoading()) {
          <loader></loader>
        }

        @if (character(); as character) {
          <div
            class="relative flex flex-col gap-4 rounded-xl bg-light-blue/10 p-4 md:flex-row lg:gap-6 lg:p-6"
          >
            <entity-favourite-toggle
              class="absolute left-6 top-6 h-16 w-16 lg:left-8 lg:top-8"
              [iconSize]="'2xl'"
              [entityId]="character.id"
              [entityType]="EntityType.CHARACTER"
            ></entity-favourite-toggle>
            <img
              [ngSrc]="character.image"
              width="400"
              height="400"
              alt="character image"
              class="max-h-[400px] w-full rounded-lg object-cover md:max-w-[300px] lg:max-w-[350px] xl:max-w-[400px]"
            />
            <div class="flex flex-col gap-4 md:flex-grow lg:gap-6">
              <h1
                class="font-primary text-3xl font-bold text-primary sm:text-4xl lg:text-5xl xl:text-6xl"
              >
                {{ character.name }}
              </h1>
              <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:gap-6">
                @if (character.status; as status) {
                  <character-property-wrapper [propertyName]="'status'">
                    {{ status }}
                  </character-property-wrapper>
                }
                @if (character.species; as species) {
                  <character-property-wrapper [propertyName]="'species'">
                    {{ species }}
                  </character-property-wrapper>
                }
                @if (character.gender; as gender) {
                  <character-property-wrapper [propertyName]="'gender'">
                    {{ gender }}
                  </character-property-wrapper>
                }
                @if (character.type; as type) {
                  <character-property-wrapper [propertyName]="'type'">
                    {{ type }}
                  </character-property-wrapper>
                }
                @if (character.episodeIds.length; as episodesAmount) {
                  <character-property-wrapper
                    [propertyName]="'episodes amount'"
                  >
                    {{ episodesAmount }}
                    {{ episodesAmount > 1 ? "Episodes" : "Episode" }}
                  </character-property-wrapper>
                }
                @if (character.origin.id; as locationId) {
                  <character-property-wrapper
                    [propertyName]="'origin location'"
                  >
                    <a
                      [routerLink]="[APP_ROUTES.LOCATIONS, locationId]"
                      [relativeTo]="null"
                      class="underline decoration-blue underline-offset-2 transition-colors hover:text-blue"
                    >
                      {{ character.origin.name }}
                    </a>
                  </character-property-wrapper>
                }
                @if (character.location.id; as locationId) {
                  <character-property-wrapper [propertyName]="'last location'">
                    <a
                      [routerLink]="[APP_ROUTES.LOCATIONS, locationId]"
                      [relativeTo]="null"
                      class="underline decoration-blue underline-offset-2 transition-colors hover:text-blue"
                    >
                      {{ character.location.name }}
                    </a>
                  </character-property-wrapper>
                }
              </div>
            </div>
          </div>
        }

        @if (characterError() && !characterLoading()) {
          <error-message
            [errorMessage]="characterError()!.error"
          ></error-message>
        }
      </div>
      <div class="flex flex-col gap-4 lg:gap-6">
        @if (characterEpisodesLoading()) {
          <loader></loader>
        }

        @if (characterEpisodes(); as episodes) {
          <div class="flex flex-col gap-4 lg:gap-6">
            <h2
              class="text-center font-decorative text-3xl text-primary sm:text-4xl lg:text-5xl"
            >
              Episodes with
              <span class="text-accent">{{ character()?.name }}</span>
            </h2>
            <div
              class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-6 2xl:grid-cols-4"
            >
              @for (episode of episodes; track episode.id) {
                <episode-card [episode]="episode"></episode-card>
              }
            </div>
          </div>
        }

        @if (characterEpisodesError() && !characterEpisodesLoading()) {
          <error-message
            [errorMessage]="characterEpisodesError()!.error"
          ></error-message>
        }
      </div>
    </div>
  </div>
</div>
